/* Variables used for colours to make changes easier as the page grows in complexity */
:root {
  --bkg-accent: #296ACA;
  --bkg-white: white;
  --bkg-neutral-light: #EAEEF1;
  --bkg-neutral-dark: #DDDDDD;
  --border-accent: #CFCFCF;
  --font-light: white;
  --font-dark: black;
}

body {
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--bkg-neutral-dark);
}

/* Flexbox used to provide flexible responsive design */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  border-radius: 0.3em;
  padding: 0;
}

section {
  width: 100%;
  padding: 2em;
  flex-grow: 1;
}

.header {
  background-color: var(--bkg-accent);
  padding-top: 5em;
  color: var(--font-light);
  line-height: 0.5em;
}

.today {
  background-color: var(--bkg-white);
}

.today li {
  background-color: var(--bkg-neutral-light);
  list-style:none;
  padding: 1em;
  margin-top: 1em;
  border: 1px solid var(--border-accent);
  border-radius: 0.3em;
}

.today ul {
  padding: 0px;
}

.upcoming {
  background-color: var(--bkg-neutral-light);
}

.upcoming-card {
  background-color: var(--bkg-white);
  padding: 1em;
}

.upcoming-card a {
  background-color: red;
  padding: 1em;
  border-radius: 0.3em;
  float: right;
  position: relative;
  top: -8em;
  color: var(--font-light);
}

.legal {
  text-align: center;
}


@media screen and (min-width: 500px) {
  /* These widths were chosen to avoid the red link button overlapping with text when approaching 500px */
  .today {
    width: 60%;
  }

  .upcoming {
    width: 30%;
  }
}


