:root {
  --bkg-accent: #296ACA;
  --bkg-neutral-light: #EAEEF1;
  --bkg-neutral-dark: #DDDDDD;
  --border-accent: #CFCFCF;
  --font-light: white;
  --font-dark: black;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 2em;
  flex-grow: 1;
}

.header {
  background-color: var(--bkg-accent);
  padding-top: 5em;
  color: var(--font-light);
  line-height: 0.5em;
}

.today li {
  background-color: var(--bkg-neutral-light);
  list-style:none;
  padding: 1em;
  margin-top: 1em;
  border: 1px solid var(--border-accent);
  border-radius: 5px;
}

.today ul {
  padding: 0px;
}

.upcoming {
  background-color: var(--bkg-neutral-light);
}

.upcoming-card {
  background-color: white;
  padding: 1em;
}

.upcoming-card a {
  background-color: red;
  padding: 1em;
  border-radius: 5px;
  float: right;
  position: relative;
  top: -8em;
  color: var(--font-light);
}

.legal {
  background-color: var(--bkg-neutral-dark);
  text-align: center;
  height: 400px;
}

@media screen and (min-width: 500px) {

  .today {
    width: 60%;
  }

  .upcoming {
    width: 30%;
  }
}


